// font size
@mixin font-size($font-size){
  font-size:$font-size + px;
  font-size:$font-size / $base-font-size-no-px  +rem; 
}

// line height
@mixin line-height($line-height){
  line-height:$line-height + px;
  line-height:$line-height / $base-font-size-no-px  +rem;
}

// vertical align
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// no vertical align
@mixin no-vertical-align {
  position: relative;
  top: 0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

@mixin flash($color) {
  background: $color;
  color: darken($color, 60);
  font-weight: bold;
  margin-bottom: $base-line-height / 2;
  padding: $base-line-height / 2;

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}
